<form [formGroup]="form">
    <div class="formgroup-inline">
        <p-floatLabel>
            <p-autoComplete class="field" formControlName="origin" [suggestions]="filteredCities"
                [forceSelection]="true" (completeMethod)="filterCity($event)" optionLabel="name" inputId="origin"
                [dropdown]="true" (onSelect)="onSelect($event,'origin')" />
            <label for="origin">Origin</label>

        </p-floatLabel>

        <p-floatLabel>
            <p-autoComplete class="field" formControlName="destination" [suggestions]="filteredCities"
                [forceSelection]="true" (completeMethod)="filterCity($event)" optionLabel="name" inputId="destination"
                [dropdown]="true" (onSelect)="onSelect($event,'destination')" />
            <label for="destination">Destination</label>
        </p-floatLabel>
    </div>

    <div class="formgrid grid mt-3 text-primary-50">
        <div *ngFor="let tripType of tripTypes" class="field-radiobutton col-4">
            <p-radioButton [inputId]="tripType" [value]="tripType" formControlName="tripType"></p-radioButton>
            <label [for]="tripType" class="ml-2">{{ tripType }}</label>
        </div>

        <div class="field col-4">
            <p-dropdown formControlName="currencyType" [options]="currencies" optionLabel="name" optionValue="code"
                [loading]="loadingCombo" />
        </div>
    </div>

    <div class="flex justify-content-center">
        <button pButton pRipple label="Search" (click)="search()" [disabled]="form.invalid || disableButton"
            [loading]="loadingButton"></button>
    </div>

</form>