<ng-template ngFor let-flight [ngForOf]="flights">
    <div class="border-solid border-round surface-border">
        <div class="px-7 py-1">
            <div>
                {{flight.origin}} - {{flight.destination }}

            </div>

        </div>
        <div class="flex justify-content-end">
            <div class="flex align-items-center justify-content-center">
                {{flight.transport.flightCarrier}} {{flight.transport.flightNumber}}
            </div>
        </div>
    </div>
</ng-template>