<!-- <ng-template let-journey ngFor let-flight [ngForOf]="journeys">
    <p-card class="flex align-items-center justify-content-center mb-2">
        <div class="col-12">
            <div class="flex flex-column xl:flex-row xl:align-items-start p-1">
                <div
                    class="flex flex-column sm:flex-row justify-content-between align-items-center sm:align-items-start flex-1 gap-4 ">
                    <div class="flex flex-column align-items-center sm:align-items-start gap-4 ">
                        <div class="text-2xl text-900 ">
                            {{ journey.origin}} - {{journey.destination}}

                        </div>
                        <span class="text-2xl">
                            {{ journey.totalPrice}}
                        </span>
                    </div>
                    <app-flights-card [flights]="journey.flights"></app-flights-card>
                </div>
            </div>
        </div>
    </p-card>
</ng-template> -->