<section class="flex flex-row align-items-center justify-content-center">
    <div class="m-4">
        <h1 class="text-center text-3xl text-primary-50">Welcome</h1>
        <app-flights-search></app-flights-search>
        <h2 class="text-center text-primary-50"> DCX Result</h2>
        <ng-container *ngFor="let response of responses">
            <h3 class="text-primary-50"> {{ response.origin}} - {{response.destination}} </h3>
            <app-flights-container-list [journeys]="response.journeys">
            </app-flights-container-list>
        </ng-container>
    </div>
</section>

<div class="card">
    <p-toast></p-toast>
</div>